<div class="contenedor-experiencia">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades col-backend">
            <i class="bi-hdd-fill"></i>
            <h3>Backend</h3>
            <p>
                Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua.
            </p>
            <p class="text-primary fw-bold cabecera">
                Stack:
            </p>
            <p>
                ASP .NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li> Web APIS</li>
                <li>ASP.NET Core MVC </li>
                <li>Entity Framwework Core </li>
                <li>SQL Server </li>
                <li>Dapper </li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades col-frontend">
            <i class="bi-code-slash"></i>
            <h3>Frontend</h3>
            <p>
                Puedo crear interfaces de usuario robustas que cumplan con los principios de usabilidad y
                accesibilidad para una optima experiencia del usuario final
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                React, Angular, Blazor
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Javascript</li>
                <li>React </li>
                <li>Angular </li>
                <li>Typescript </li>
                <li>Responsive Desing</li>
            </ul>
        </div>
    </div>
</div>
