@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Jeimmy Lopez Vega</h1>
    <h2>Soy una desarrolladora de Software especializada en tecnologías .NET y JavaScript</h2>
    <img
        class="foto"
        src="~/img/perfil.jpg" alt="Foto de Jeimmy" />
</div>

<div class="text-center">  
    <img id="imagen-dotnet" src="~/img/dotnet-logo.png" alt="dot net logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software profesionalmente desde el 2024. Me he estado formando de manera autodidacta en 
            tecnologías como C#, .NET, React, SQL Server, Javascript.
        </p>
    </div>
</div>

<div class="row justify-content-md-center align-content-center text-center">
    <div class="col col-3 bg-white">
        <h3>Backend</h3>
        <p>
            Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua.
        </p>
        <p class="text-primary cabecera"> 
            Stack: 
        </p>
        <p>
            ASP .NET Core, SQL Server
        </p>
        <p class="text-primary cabecera">
            Experiencia:
        </p>
        <ul>
         <li> Web APIS</li>
            <li>ASP.NET Core MVC </li>
            <li>Entity Framwework Core </li>
         </ul>
    </div>
    <div class="col col-3 bg-white">
    </div>
</div>
